* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

nav>a {
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: inherit;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #FFF7ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-nav {
    display: flex;
    gap: 15px;
    font-weight: 600;
    color: #4D4D4D;
}

.header-logo {
    font-weight: 700
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    color: #AAAAAA;
}

.home-main {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/home-bg.png);
    gap: 60px;
    background-repeat: no-repeat;
    background-size: cover;


}

.home-main>section h1 {
    color: white;
    font-size: 36px;
    text-align: center;
}

.home-main>section p {
    color: white;
    font-size: 24px;
}

.home-main-link {
    color: white;
    background-color: orange;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-main-link:visited {
  color: white;
}