* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

nav > a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #FFF7ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-nav{
    display: flex;
    gap: 15px;
}